@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

:host {
    @include deviantart-container();
    display: flex;
    margin-bottom: $large-spacing;

    .deviant {
        @include flex-row($justify-content: space-between);
        color: $light-text-color; 
        width: 100%; 

        @include deviantart-theme();

        margin-top: $small-spacing;
        margin-bottom: $small-spacing;
        padding: $small-spacing;
        border: 2px solid $light-text-color;

        .deviant-details {
            @include flex-row();
            align-items: center;

            .blog-url {   
                padding-left: $large-spacing;
                         
                &:hover {
                    color: $deviantart-light;
                    cursor: pointer;
                }
            }
        }
    
        img {
            height: $deviantart-icon-size;
        }
    }
}

