@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

:host {
    @include deviantart-container();
    display: flex;
    color: $light-text-color;
    margin-bottom: $large-spacing;

    .deviant {
        @include flex-row($justify-content: space-between);
        width: 100%; 

        @include deviantart-theme();

        margin-top: $small-spacing;
        margin-bottom: $small-spacing;
        padding: $small-spacing;
        border: 2px solid $light-text-color;

        .blog-url {
            &:hover {
                color: $deviantart-light;
                cursor: pointer;
            }
        }
    
        img {
            height: 80px;
        }
    }
}

