@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

:host-context {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $app-primary;
    opacity: 0.65;
    z-index:1000;

    @include flex-row-center($justify-content: center);
}

.loader {
  border: 16px solid $app-tertiary;
  border-radius: 50%;
  border-top: 16px solid $app-secondary;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}