@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

$max-tweet-width: 400px;

:host {
    @include twitter-theme();
    @include twitter-container();
    color: $light-text-color;
    margin-top: $large-spacing;
    width: 100%;

    .icon {
        height: $large-spacing;
        margin-right: $small-spacing;
    }

    .twitter-stats, .tag-stats {
        padding: $large-spacing;

        .stats-summary {
            @include flex-col($justify-content: flex-start);

            .favorites, .retweets {
                @include flex-row-center($justify-content: flex-start);
    
                .stats {
                    @include flex-row-percent-width($width: 100%, $justify-content: flex-start);
                    
                    .top-stats {
                        @include engagement-cols($width: 20%);
                    }

                    &.favorites, &.retweets {
                        @include flex-row($justify-content: flex-start);

                        .tag {
                            padding-left: $large-spacing;
                        }
                    }
                }
            }
        }

        @include no-matches();
    }

    .twitter-stats {
        span {
            width: 25%;
        }
    }

    .tag-stats {
        @include tag-stats();
        border: 1px solid $light-text-color;
        margin-top: $large-spacing;

        .stats-container {
            max-height: 100px;
            overflow-y: scroll;

            .stats-summary {
                padding-top: $large-spacing;

                .tweets {
                    @include post-left-border();
                }
            }
        }

        span {
            width: 18.75%;
            text-align: left;
            padding-left: $small-spacing;

            &.tag {
                /* Prevents the tag crashing into the next column. */
                &.header, &.favorites, &.retweets {
                    width: 25%;
                    padding-right: $small-spacing / 2;
                }
            }
        }
    }

    section {
        max-height: $scroll-section-height;
        overflow-y: scroll;

        .tweets {
            @include flex-col($justify-content: center);

            .tweet {
                @include media-content-image-positioning();

                .tweet-img {
                    @include media-content-image($max-tweet-width*2, $twitter-light);
                }

                .tweet-data {
                    @include media-content-data($max-tweet-width*2, $twitter-light);

                    .followership {
                        @include flex-row-center($justify-content: flex-start);
                        padding-top: $small-spacing;
                        padding-bottom: $small-spacing;

                        .followers, .following {
                            @include flex-row-center($justify-content: flex-start);
                            width: 50%;
                        }
                    }

                    .images {
                        margin-bottom: $large-spacing;
                    }

                    .text {
                        border-left: 4px solid $light-text-color;
                        padding: $small-spacing;
                        padding-left: $large-spacing;
                        margin-top: $small-spacing;
                        margin-bottom: $large-spacing;

                        a {
                            color: $light-text-color;

                            &:hover {
                                color: $twitter-light;
                            }
                        }
                    }

                    .tweet-stats {
                        @include post-stats($twitter-light);

                        .engagement {
                            @include flex-row($justify-content: flex-start);
        
                            .favorites, .retweets {
                                @include flex-row-center();
                                margin-right: $small-spacing;
                            }
                        }
                    }
                }
            }  
        }
    }
}