<div class="twitter-stats">
    <div class="no-matches" *ngIf="!tweets || tweets.length === 0">{{ noMatchesMessage ? noMatchesMessage : defaultMessage }}</div>
    <h3 *ngIf="tweets.length > 0">Twitter</h3>
    <div class="stats-summary" *ngIf="tweets.length > 0">
        <div class="favorites">
            <img [src]="heartImg"/> 
            <div *ngIf="engagement && engagement.favoriteStats" class="stats">
                <span>Hi {{ engagement.favoriteStats.high }}</span>
                <span>Low {{ engagement.favoriteStats.low }}</span>
                <span>Mid {{ engagement.favoriteStats.average | number:'1.2-2' }}</span>
                <span>Avg {{ engagement.favoriteStats.median }}</span>
            </div>
        </div>
        <div class="retweets">
            <img [src]="retweetImg"/> 
            <div *ngIf="engagement && engagement.retweetStats" class="stats">
                <span>Hi {{ engagement.retweetStats.high }}</span>
                <span>Low {{ engagement.retweetStats.low }}</span>
                <span>Mid {{ engagement.retweetStats.average | number:'1.2-2' }}</span>
                <span>Avg {{ engagement.retweetStats.median }}</span>
            </div>
        </div>
    </div>
</div>
<section *ngIf="tweets.length > 0">
    <div class="tweets">
        <div class="tweet" *ngFor="let tweet of tweets">
            <div *ngIf="tweet.retweeted_status" class="tweet-data">
                <h3 (click)="blogUtils.visitTwitter(tweet.retweeted_status.user.screen_name)">
                        {{ tweet.retweeted_status.user.name }}
                </h3>
                <p>@{{ tweet.retweeted_status.user.screen_name}}</p>
                <p *ngIf="tweet.retweeted_status.text && tweet.retweeted_status.text.length > 0" 
                    class="text" 
                    [innerHTML]="tweet.text"></p>
                <p class="tags-list" *ngIf="tweet.tags && tweet.tags.length > 0">
                    #{{ tweet.tags.join(' #') }}
                </p>
                 <div class="tweet-stats">
                    <div class="stats">
                        <p>Posted on {{ tweet.retweeted_status.created_at  | date: 'short' }} </p>
                        <div class="engagement">
                            <div class="favorites">
                                <img [src]="heartImg"/> 
                                <span>{{ tweet.retweeted_status.favorite_count }}</span>
                            </div>
                            <div class="retweets">
                                <img [src]="retweetImg"/>
                                <span>{{ tweet.retweeted_status.retweet_count }}</span>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
            <div *ngIf="!tweet.retweeted_status" class="tweet-data">
                <h3 (click)="blogUtils.visitTwitter(tweet.user.screen_name)">
                        {{ tweet.user.name }}
                </h3>
                <p>@{{ tweet.user.screen_name}}</p>
                <p *ngIf="tweet.text && tweet.text.length > 0" 
                    class="text" 
                    [innerHTML]="tweet.text"></p>
                <p class="tags-list" *ngIf="tweet.tags && tweet.tags.length > 0">
                    #{{ tweet.tags.join(' #') }}
                </p>
                 <div class="tweet-stats">
                    <div class="stats">
                        <p>Posted on {{ tweet.created_at  | date: 'short' }} </p>
                        <div class="engagement">
                            <div class="favorites">
                                <img [src]="heartImg"/> 
                                <span>{{ tweet.favorite_count }}</span>
                            </div>
                            <div class="retweets">
                                <img [src]="retweetImg"/>
                                <span>{{ tweet.retweet_count }}</span>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div> 
</section>
<div *ngIf="tweets.length > 0" class="tag-stats">
    <h3>Engagement by Tag</h3>
    <div class="header">
        <span class="tag">Tag</span>
        <span>High</span>
        <span>Low</span>
        <span>Median</span>
        <span>Average</span>
    </div>
    <div class="stats-container">
        <div class="stats-summary" *ngIf="tweets.length > 0">
            <div *ngFor="let tag of engagement.hashtags | keyvalue" class="tweets">
                <div class="stats">
                    <span class="tag">{{ tag.key | tag }}</span>
                </div>
                <div class="stats">
                    <span class="tag favorites">Favorites</span>
                    <span>{{ tag.value.favorites.high }}</span>
                    <span>{{ tag.value.favorites.low }}</span>
                    <span>{{ tag.value.favorites.average | number:'1.2-2' }}</span>
                    <span>{{ tag.value.favorites.median }}</span>
                </div>
                <div class="stats">
                    <span class="tag retweets">Retweets</span>
                    <span>{{ tag.value.retweets.high }}</span>
                    <span>{{ tag.value.retweets.low }}</span>
                    <span>{{ tag.value.retweets.average | number:'1.2-2' }}</span>
                    <span>{{ tag.value.retweets.median }}</span>
                </div>
            </div>
        </div>
    </div>
</div>