
<div class="tumblr-stats">
    <div class="no-matches" *ngIf="!posts || posts.length === 0">{{ noMatchesMessage ? noMatchesMessage : defaultMessage }}</div>
    <h3 *ngIf="posts.length > 0">Tumblr</h3>
    <div class="stats-summary" *ngIf="posts.length > 0">
        <div class="notes">
            <img [src]="heartImg"/> 
            <div *ngIf="engagement && engagement.stats" class="stats">
                <span>Hi {{ engagement.stats.high }}</span>
                <span>Low {{ engagement.stats.low }}</span>
                <span>Mid {{ engagement.stats.average | number:'1.2-2' }}</span>
                <span>Avg {{ engagement.stats.median }}</span>
            </div>
        </div>
    </div>
</div>
<section *ngIf="posts.length > 0">
    <div class="posts">
        <div class="post" *ngFor="let post of posts">
           <img *ngIf="post.photos && post.photos.length > 0" 
            class="post-img" [src]="post.photos[0].original_size.url"/>
            <div class="post-data">
                <h3 (click)="blogUtils.visitBlog(post.post_url)">{{ post.blog_name }}</h3>
                <p class="caption" [innerHTML]="post.caption"></p>
                 <div class="post-stats">
                    <div class="stats">
                        <p>Posted on {{ blogUtils.dateForTimestamp(post.timestamp)  | date: 'short' }} </p>
                        <div class="engagement">
                            <div class="notes">
                                <img [src]="heartImg"/> 
                                <span>{{ post.note_count }}</span>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div> 
</section>
<div class="tag-stats">
    <div class="stats-summary" *ngIf="posts.length > 0">
        <div *ngFor="let tag of engagement.tags | keyvalue" class="notes">
            <img [src]="heartImg"/> 
            <div class="stats">
                <span>{{ tag.key }}</span>
                <span>Hi {{ tag.value.stats.high }}</span>
                <span>Low {{ tag.value.stats.low }}</span>
                <span>Mid {{ tag.value.stats.average | number:'1.2-2' }}</span>
                <span>Avg {{ tag.value.stats.median }}</span>
            </div>
        </div>
    </div>
</div>