
<div class="tumblr-stats">
    <div class="no-matches" *ngIf="!posts || posts.length === 0">{{ noMatchesMessage ? noMatchesMessage : defaultMessage }}</div>
    <h3 *ngIf="posts.length > 0">Tumblr</h3>
    <div class="stats-summary" *ngIf="posts.length > 0">
        <div class="notes">
            <img [src]="heartImg"/> 
            <div *ngIf="engagement && engagement.stats" class="stats">
                <span>Hi {{ engagement.stats.high }}</span>
                <span>Low {{ engagement.stats.low }}</span>
                <span>Mid {{ engagement.stats.average | number:'1.2-2' }}</span>
                <span>Avg {{ engagement.stats.median }}</span>
            </div>
        </div>
    </div>
</div>
<section *ngIf="posts.length > 0">
    <div class="posts">
        <div class="post" *ngFor="let post of posts">
           <!--<img class="post-img" [src]="post.content.src"/>
            <div class="post-data">
                <h3 (click)="blogUtils.visitBlog(post.url)">{{ post.title }}</h3>
                 <div class="post-stats">
                    <div class="stats">
                        <div>
                            by <span class="author-link" 
                                (click)="blogUtils.visitDeviantArt(post.author.username)">
                                    {{ post.author.username }}
                                </span>
                        </div>
                        <p>{{ blogUtils.dateForTimestamp(post.published_time)  | date: 'short' }} </p>
                        <div class="engagement">
                            <div class="favorites">
                                <img [src]="heartImg"/> 
                                <span>{{ post.stats.favourites }}</span>
                            </div>
                            <div class="comments">
                                <img [src]="commentImg"/>
                                <span>{{ post.stats.comments }}</span>
                            </div>
                        </div>
                    </div>                   
                    <img class="user-icon" [src]="post.author.usericon"/>
                </div>
            </div>--> 
        </div>
    </div> 
</section>