@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

$max-post-width: 400px;

:host {
    @include tumblr-theme();
    @include tumblr-container();
    color: $light-text-color;
    margin-top: $large-spacing;
    width: 100%;

    .tumblr-stats, .tag-stats {
        padding: $large-spacing;

        .stats-summary {
            @include flex-col($justify-content: flex-start);
            padding-top: $large-spacing;

            .notes {
                @include flex-row-center($justify-content: flex-start);
    
                img {
                    width: $large-spacing;
                    margin-right: $large-spacing;
                }
    
                .stats {
                    @include flex-row-percent-width($width: 100%, $justify-content: flex-start);
                }
            }
        }

        .no-matches {
            max-width: $max-width;
            text-align: center;
        }
    }

    .tumblr-stats {
        span {
            width: 25%;
        }
    }

    .tag-stats {
        padding-right: 0;
        
        h3 {
            margin-bottom: $small-spacing;
        }

        .stats-container {
            max-height: 100px;
            overflow-y: scroll;

            .stats-summary {
                padding-right: $large-spacing;
            }
        }

        span {
            width: 18.75%;
            text-align: left;

            &.tag {
                width: 25%;
                /* Prevents the tag crashing into the next column. */
                padding-right: $small-spacing / 2;
            }
        }
    }

    section {
        max-height: $scroll-section-height;
        overflow-y: scroll;

        .posts {
            @include flex-col($justify-content: center);

            .post {
                padding: $large-spacing;
                margin: 0 auto;

                .post-img {
                    width: $max-post-width;
                    border: 2px solid $light-text-color;
                    padding: $large-spacing;
                }

                .post-data {
                    margin-top: $large-spacing;
                    max-width: $max-post-width;

                    h3 {
                        &:hover {
                            color: $deviantart-light;
                        }
                    }

                    .caption {
                        border-left: 4px solid $light-text-color;
                        padding: $small-spacing;
                        padding-left: $large-spacing;
                        margin-top: $small-spacing;
                        margin-bottom: $small-spacing;

                        a {
                            color: $light-text-color;

                            &:hover {
                                color: $tumblr-light;
                            }
                        }
                    }

                    .post-stats {
                        @include flex-row-center($justify-content: space-between);

                        .author-link {
                            &:hover {
                                color: $tumblr-light;
                            }
                        }

                        .engagement {
                            @include flex-row($justify-content: flex-start);
        
                            .notes {
                                @include flex-row-center();
                                margin-right: $small-spacing;
        
                                img {
                                    width: $large-spacing;
                                    margin-right: $small-spacing;
                                }
                            }
                        }
                    }
                }
            }  
        }
    }
}