@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

$max-post-width: 400px;

:host {
    @include tumblr-theme();
    @include tumblr-container();
    color: $light-text-color;
    margin-top: $large-spacing;
    width: 100%;

    .tumblr-stats, .tag-stats {
        @include stats-padding();

        .stats-summary {
            @include flex-col($justify-content: flex-start);

            .notes, .tag-stats {
                @include social-media-stats();
            }

            .notes {
                padding-top: $large-spacing;

                .stats {
                    @include flex-col-percent-width($width: 100%, $justify-content: flex-start);

                    @include medium-phone() {
                        @include flex-row-percent-width($width: 100%, $justify-content: flex-start);
                    }
                }

                .top-stats {
                    @include engagement-cols($width: 20%);
                }
            }
        }

        @include no-matches();
    }

    .tumblr-stats {
        span {
            width: 25%;
        }
    }

    .tag-stats {
        @include tag-stats();

        &.outer-container {
            border: 1px solid $light-text-color;
            margin-top: $large-spacing;
        }

        .stats-container {
            max-height: 100px;
            overflow-y: scroll;

            .stats-summary {
                padding-top: 0;

                .tag-stats {
                    padding: 0;

                    .stats {
                        @include flex-col-percent-width($width: 100%, $justify-content: flex-start);
                        margin-bottom: $large-spacing;

                        @include medium-phone() {
                            margin-bottom: 0;
                        }

                        @include tablet() {
                            @include flex-row-percent-width($width: 100%, $justify-content: flex-start);
                        }
                    }
                }
            }
        }

        span {
            width: 100%;
            text-align: left;

            @include tablet() {
                width: 18.75%;
            }

            &.tag {
                @include tablet() {
                    width: 25%;
                }

                /* Prevents the tag crashing into the next column. */
                padding-right: $small-spacing / 2;
            }
        }
    }

    section {
        max-height: $scroll-section-height;
        overflow-y: scroll;
        overflow-x: hidden;

        .posts {
            @include flex-col($justify-content: center);

            .post {
                @include media-content-image-positioning();

                .post-image {
                    @include media-content-image(100%, $tumblr-light);

                    @include desktop() {
                        @include media-content-image($max-post-width*2, $tumblr-light);
                    }
                }

                .post-data {
                    @include media-content-data(100%, $tumblr-light);

                    @include desktop() {
                        @include media-content-data($max-post-width*2, $tumblr-light);
                    }

                    .caption {
                        @include caption($tumblr-light);
                    }

                    .post-stats {
                        @include post-stats($tumblr-light);

                        .engagement {
                            @include flex-row($justify-content: flex-start);
        
                            .notes {
                                @include engagement();
                            }
                        }
                    }
                }
            }  
        }
    }
}