@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

$max-post-width: 400px;

:host {
    @include tumblr-theme();
    @include tumblr-container();
    color: $light-text-color;
    margin-top: $large-spacing;
    width: 100%;

    .tumblr-stats, .tag-stats {
        padding: $large-spacing;

        .stats-summary {
            @include flex-col($justify-content: flex-start);

            .notes, .tag-stats {
                @include social-media-stats();
            }

            .notes {
                padding-top: $large-spacing;
            }
        }

        @include no-matches();
    }

    .tumblr-stats {
        span {
            width: 25%;
        }
    }

    .tag-stats {
        @include tag-stats();

        .stats-container {
            max-height: 100px;
            overflow-y: scroll;

            .stats-summary {
                padding-top: 0;

                .tag-stats {
                    border: 1px solid $light-text-color;
                    margin-top: $large-spacing;
                    padding: 0;
                }
            }
        }

        span {
            width: 18.75%;
            text-align: left;

            &.tag {
                width: 25%;
                /* Prevents the tag crashing into the next column. */
                padding-right: $small-spacing / 2;
            }
        }
    }

    section {
        max-height: $scroll-section-height;
        overflow-y: scroll;
        overflow-x: hidden;

        .posts {
            @include flex-col($justify-content: center);

            .post {
                @include media-content-image-positioning();

                .post-image {
                    @include media-content-image($max-post-width, $tumblr-light);
                }

                .post-data {
                    @include media-content-data($max-post-width, $tumblr-light);

                    .caption {
                        @include caption($tumblr-light);
                    }

                    .post-stats {
                        @include post-stats($tumblr-light);

                        .engagement {
                            @include flex-row($justify-content: flex-start);
        
                            .notes {
                                @include engagement();
                            }
                        }
                    }
                }
            }  
        }
    }
}