
<div class="tumblr-stats">
    <div class="no-matches" *ngIf="!posts || posts.length === 0">{{ noMatchesMessage ? noMatchesMessage : defaultMessage }}</div>
    <h3 *ngIf="posts.length > 0">Tumblr</h3>
    <div class="stats-summary" *ngIf="posts.length > 0">
        <div class="notes">
            <img [src]="heartImg"/> 
            <div *ngIf="engagement && engagement.stats" class="stats">
                <span>Hi {{ engagement.stats.high }}</span>
                <span>Low {{ engagement.stats.low }}</span>
                <span>Mid {{ engagement.stats.average | number:'1.2-2' }}</span>
                <span>Avg {{ engagement.stats.median }}</span>
            </div>
        </div>
    </div>
</div>
<section *ngIf="posts.length > 0">
    <div class="posts">
        <div class="post" *ngFor="let post of posts">
           <img *ngIf="post.photos && post.photos.length > 0" 
            class="post-img" [src]="post.photos[0].original_size.url"/>
            <div class="post-data">
                <h3 (click)="blogUtils.visitBlog(post.post_url)">{{ post.blog_name }}</h3>
                <p class="caption" [innerHTML]="post.caption"></p>
                <p class="tags-list">{{ post.tags.join(' #') }}</p>
                 <div class="post-stats">
                    <div class="stats">
                        <p>Posted on {{ blogUtils.dateForTimestamp(post.timestamp)  | date: 'short' }} </p>
                        <div class="engagement">
                            <div class="notes">
                                <img [src]="heartImg"/> 
                                <span>{{ post.note_count }}</span>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div> 
</section>
<div *ngIf="posts.length > 0" class="tag-stats">
    <h3>Engagement by Tag</h3>
    <div class="stats-container">
        <div class="stats-summary" *ngIf="posts.length > 0">
            <div *ngFor="let tag of engagement.tags | keyvalue" class="notes">
                <img [src]="tagImg"/> 
                <div class="stats">
                    <span class="tag">{{ tag.key | tag }}</span>
                    <span>Hi {{ tag.value.high }}</span>
                    <span>Low {{ tag.value.low }}</span>
                    <span>Mid {{ tag.value.average | number:'1.2-2' }}</span>
                    <span>Avg {{ tag.value.median }}</span>
                </div>
            </div>
        </div>
    </div>
</div>