
<div class="deviations-stats">
    <h3>Deviations</h3>
    <div class="stats-summary" *ngIf="deviations.length > 0">
        <div class="favorites">
            <img [src]="heartImg"/> 
            <div *ngIf="favoriteStats" class="stats">
                <span>Hi {{ favoriteStats.high }}</span>
                <span>Low {{ favoriteStats.low }}</span>
                <span>Mid {{ favoriteStats.median }}</span>
                <span>Avg {{ favoriteStats.average | number:'1.2-2' }}</span>
            </div>
        </div>
        <div class="comments">
            <img [src]="commentImg"/>
            <div *ngIf="commentStats" class="stats">
                <span>Hi {{ commentStats.high }}</span>
                <span>Low {{ commentStats.low }}</span>
                <span>Mid {{ commentStats.median }}</span>
                <span>Avg {{ commentStats.average | number:'1.2-2' }}</span>
            </div>
        </div>
    </div>
</div>
<section *ngIf="deviations.length > 0">
    <div class="deviations">
        <div class="deviation" *ngFor="let deviation of deviations">
            <img (click)="blogUtils.visitBlog(deviation.url)" class="deviation-img" [src]="deviation.content.src"/>
            <div class="deviation-data">
                <h3 (click)="blogUtils.visitBlog(deviation.url)">{{ deviation.title }}</h3>
                <p *ngIf="deviation.description && deviation.description.length > 0" 
                    class="caption" 
                    [innerHTML]="deviation.description"></p>
                <p class="tags-list" *ngIf="deviation.tags && deviation.tags.length > 0">#{{ deviation.tags.join(' #') }}</p>
                <div class="deviation-stats">
                    <div class="stats">
                        <div>
                            by <span class="author-link" 
                                (click)="blogUtils.visitDeviantArt(deviation.author.username)">
                                    {{ deviation.author.username }}
                                </span>
                        </div>
                        <p>Posted on {{ blogUtils.dateForTimestamp(deviation.published_time)  | date: 'short' }} </p>
                        <div class="engagement">
                            <div class="views">
                                <img [src]="viewImg"/> 
                                <span>{{ deviation.stats.views }}</span>
                            </div>
                            <div class="favorites">
                                <img [src]="heartImg"/> 
                                <span>{{ deviation.stats.favourites }}</span>
                            </div>
                            <div class="comments">
                                <img [src]="commentImg"/>
                                <span>{{ deviation.stats.comments }}</span>
                            </div>
                        </div>
                    </div>                   
                    <img class="user-icon" [src]="deviation.author.usericon"/>
                </div>
            </div>
        </div>
    </div> 
</section>
<div *ngIf="deviations.length > 0" class="tag-stats outer-container">
    <h3>Engagement by Tag</h3>
    <div class="header">
        <span class="tag">Tag</span>
        <span>High</span>
        <span>Low</span>
        <span>Median</span>
        <span>Average</span>
    </div>
    <div class="inner-container">
        <div class="stats-summary" *ngIf="stats.tags">
            <div *ngFor="let tag of stats.tags | keyvalue" class="tag-stats deviation">
                <div class="stats">
                    <span class="tag">#{{ tag.key | tag }}</span>
                </div>
                <div class="stats views">
                    <span class="tag views">
                        <img class="icon" [src]="viewImg"/> 
                        <span>Views</span>
                    </span>
                    <span>{{ tag.value.views.high }}</span>
                    <span>{{ tag.value.views.low }}</span>
                    <span>{{ tag.value.views.median }}</span>
                    <span>{{ tag.value.views.average | number:'1.2-2' }}</span>
                </div>
                <div class="stats favorites">
                    <span class="tag favorites">
                        <img class="icon" [src]="heartImg"/> 
                        <span>Favorites</span>
                    </span>
                    <span>{{ tag.value.favorites.high }}</span>
                    <span>{{ tag.value.favorites.low }}</span>
                    <span>{{ tag.value.favorites.median }}</span>
                    <span>{{ tag.value.favorites.average | number:'1.2-2' }}</span>
                </div>
                <div class="stats comments">
                    <span class="tag comments">
                        <img class="icon" [src]="commentImg"/> 
                        <span>Comments</span>
                    </span>
                    <span>{{ tag.value.comment.high }}</span>
                    <span>{{ tag.value.comment.low }}</span>
                    <span>{{ tag.value.comment.median }}</span>
                    <span>{{ tag.value.comment.average | number:'1.2-2' }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="deviations.length > 0" class="tag-stats outer-container">
    <h3>Engagement by Day</h3>
    <div class="header">
        <span class="tag">Day</span>
        <span>High</span>
        <span>Low</span>
        <span>Median</span>
        <span>Average</span>
    </div>
    <div class="inner-container">
        <div class="stats-summary" *ngIf="stats.days">
            <div *ngFor="let day of stats.days | keyvalue" class="tag-stats deviation">
                <div class="stats">
                    <span class="tag">{{ day.key | day }}</span>
                </div>
                <div class="stats views">
                    <span class="tag views">
                        <img class="icon" [src]="viewImg"/> 
                        <span>Views</span>
                    </span>
                    <span>{{ day.value.views.high }}</span>
                    <span>{{ day.value.views.low }}</span>
                    <span>{{ day.value.views.median }}</span>
                    <span>{{ day.value.views.average | number:'1.2-2' }}</span>
                </div>
                <div class="stats favorites">
                    <span class="tag favorites">
                        <img class="icon" [src]="heartImg"/> 
                        <span>Favorites</span>
                    </span>
                    <span>{{ day.value.favorites.high }}</span>
                    <span>{{ day.value.favorites.low }}</span>
                    <span>{{ day.value.favorites.median }}</span>
                    <span>{{ day.value.favorites.average | number:'1.2-2' }}</span>
                </div>
                <div class="stats comments">
                    <span class="tag comments">
                        <img class="icon" [src]="commentImg"/> 
                        <span>Comments</span>
                    </span>
                    <span>{{ day.value.comment.high }}</span>
                    <span>{{ day.value.comment.low }}</span>
                    <span>{{ day.value.comment.median }}</span>
                    <span>{{ day.value.comment.average | number:'1.2-2' }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="stats" class="heatmaps">
    <app-heatmap mapTitle="View Map" [mapData]="stats.viewTimes"></app-heatmap>
    <app-heatmap mapTitle="Favorites Map" [mapData]="stats.faveTimes"></app-heatmap>
    <app-heatmap mapTitle="Comments Map" [mapData]="stats.commentTimes"></app-heatmap>
</div>
