@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

$max-deviation-width: 400px;

:host {
    @include deviantart-theme();
    @include deviantart-container();
    color: $light-text-color;
    margin-bottom: $large-spacing;
    width: 100%;

    .deviations-stats, .tag-stats {
        padding: $small-spacing;

        @include large-screen() {
            padding: $large-spacing;
        }

        .stats-summary {
            @include flex-col($justify-content: flex-start);
            padding-top: $large-spacing;

            .favorites, .comments, .tag-stats {
                @include social-media-stats();
    
                .stats {                    
                    span {
                        width: 100%;

                        @include medium-phone() {
                            width: 25%;
                        }
                    }
                }
            }
        }

        @include no-matches();
    }

    .tag-stats {
        @include tag-stats();

        &.outer-container {
            border: 1px solid $light-text-color;
            margin-top: $large-spacing;
        }

        .inner-container {
            max-height: 250px;
            overflow-y: scroll;

            .stats-summary {
                padding-top: $large-spacing;

                .tag-stats {
                    padding: 0;
                }

                .deviation {
                    @include flex-col();
                    align-items: flex-start;

                    @include post-left-border();

                    @include medium-phone() {
                        align-items: center;
                    }

                    .icon {
                        margin-right: 0;
                    }

                    .tag {
                        .views, .favorites, .comments {
                            width: 30%;
                        }

                        .tag-indicator {
                            width: 10%;
                        }
                    } 
                }
            }
        }

        span {
            width: 20%;
            text-align: left;
            padding-left: $small-spacing;

            &.tag {
                /* Prevents the tag crashing into the next column. */
                &.header, &.favorites {
                    width: 25%;
                    padding-right: $small-spacing / 2;
                }
            }
        }
    }

    .heatmaps {
        border: 1px solid $light-text-color;
        margin-top: $large-spacing;
        padding: $large-spacing;

        max-height: 450px;
        overflow-y: scroll;
    }

    section {
        max-height: $scroll-section-height;
        overflow-y: scroll;

        .deviations {
            @include flex-col($justify-content: center);

            .deviation {
                @include media-content-image-positioning();

                .deviation-img {
                    @include media-content-image(100%, $deviantart-light);

                    @include tablet() {
                        @include media-content-image($max-deviation-width, $deviantart-light);
                    }

                    @include desktop() {
                        @include media-content-image($max-deviation-width*2, $deviantart-light);
                    }
                }

                .deviation-data {
                    @include media-content-data(100%, $deviantart-light);

                    @include tablet() {
                        @include media-content-data($max-deviation-width, $deviantart-light);
                    }

                    @include desktop() {
                        @include media-content-data($max-deviation-width*2, $deviantart-light);   
                    }

                    .caption {
                        @include caption($deviantart-light);
                    }

                    .tags-list {
                        margin-bottom: $small-spacing;
                    }

                    .deviation-stats {
                        @include post-stats($deviantart-light);

                        .engagement {
                            @include flex-row($justify-content: flex-start);
        
                            .favorites, .comments, .views {
                                @include engagement();
                            }
                        }
    
                        .user-icon {
                            max-height: 50px;
                        }
                    }
                }
            }  
        }
    }
}