@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$alert-padding: 36px;

$error-bg: $app-error;
$info-bg: $app-secondary;
$success-bg: #00b894;
$warning-bg: #e17055;

:host {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0; 
    text-align: right;

    display: flex;

    dialog {
        @include absolute-zero();

        color: $light-text-color;
        padding: $large-spacing;
        width: 100%;

        &.info {
            background: $info-bg;
        }
    
        &.error {
            background: $error-bg;
        }
    
        &.success {
            background: $success-bg;
        }
    
        &.warning {
            background: $warning-bg;
        }
    }
}