@import './variables.scss';

/* Device mixins. */
@mixin tablet() {
    @media (min-width : 768px) {
        @content;
    }
}

@mixin desktop() {
    @media (min-width : 1400px) { 
        @content;
    }
}

@mixin medium-phone() {
    @media (min-width : 475px) { 
        @content;
    }
}

@mixin large-screen() {
    @include desktop() {
        @content;
    }

    @include tablet() {
        @content;
    }
}

@mixin full-background($url: url, $position: center) {
    background-image: url($url);
    background-size: cover;
    background-position: $position;
    background-attachment: fixed;
}

@mixin absolute-zero() {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@mixin full-screen-fixed() {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@mixin flex-row($justify-content: center) {
    display: flex;
    flex-direction: row;
    justify-content: $justify-content;
}

@mixin flex-row-center($justify-content: center) {
    @include flex-row($justify-content);
    align-items: center;
}

@mixin flex-row-percent-width($width: 100%, $justify-content: center) {
    @include flex-row($justify-content);
    width: $width;
}

@mixin flex-col($justify-content: flex-start) {
    display: flex;
    flex-direction: column;
    justify-content: $justify-content;
}

@mixin flex-col-center($justify-content: flex-start) {
    @include flex-col($justify-content);
    align-items: center;
}

@mixin flex-col-percent-width($width: 100%, $justify-content: flex-start) {
    @include flex-col($justify-content);
    width: $width;
}

@mixin wide-and-center($width: 100%) {
    @include full-width-limited($width: $width);
    @include flex-col($justify-content: center);
    align-items: center;
}

$default-line-height: 0px; 

@mixin large-aligned-text($font-size, $font-weight: bold, $line-height: $default-line-height, $alignment: center) {
    text-align: $alignment;
    font-weight: $font-weight;
    
    @if $line-height != $default-line-height {
        line-height: $line-height;
    } @else if $font-size == $large-font {
        line-height: $large-line-height;
    } @else if $font-size == $title-font {
        line-height: $title-line-height;
    }
    
    @if $font-size == $large-font {
        font-size: $large-font;
    } @else if $font-size == $title-font {
        font-size: $title-font;
    }
}

@mixin full-width-limited($limit: 700px, $width: 100%) {
    width: $width;
    max-width: $limit;
}

@mixin input-style($width: 100%) {
    font-size: $large-font;
    text-align: center;
    height: 44px;
    width: $width;
}

@mixin large-rectangular-button() {
    @include full-width-limited();

    background-color: $app-primary;
    color: $light-text-color;
    font-size: $large-font;
    font-weight: normal;

    padding: $large-spacing;

    &:hover, &.selected {
        background-color: $app-secondary;
        font-weight: bold;
    }

    &:disabled, &[disabled] {
        background-color: $app-primary-disabled;
    }
}

@mixin subtle-bordered-button() {
    background-color: $app-tertiary;
    box-shadow: inset 0 0 0 2px $app-dark-nav;
}

@mixin user-profile-img() {
    height: 80px;
    width: 80px;
    display: block;
}

@mixin user-container() {
    margin: $small-spacing;
    padding: $small-spacing;

    @include large-screen() {
        margin: $large-spacing;
        padding: $large-spacing;
    }

    border: 3px solid $widget-border;

    width: 100%;
    margin: 0 auto;

    @include tablet() {
        max-width: $max-width;
    }

    @include desktop() {
        max-width: $max-wide-width;
    }
}

@mixin deviantart-container() {
    background-color: $deviantart-bg;
    @include user-container();
}

@mixin tumblr-container() {
    background-color: $tumblr-bg;
    @include user-container();
}

@mixin twitter-container() {
    background-color: $twitter-bg;
    @include user-container();
}

@mixin twitter-theme {
    background-color: $twitter-medium;
    &:hover {
        border: 2px solid $twitter-light;
    }
}

@mixin tumblr-theme {
    background-color: $tumblr-medium;
    &:hover {
        border: 2px solid $tumblr-light;
    }
}

@mixin deviantart-theme {
    background-color: $deviantart-medium;
    &:hover {
        border: 2px solid $deviantart-light;
    }
}

@mixin tag-stats {
    padding-right: 0;

    .header {
        @include flex-row-percent-width($width: 100%, $justify-content: flex-start);
        padding-right: $large-spacing;
    }
        
    h3 {
        margin-bottom: $small-spacing;
    }
}

/* Post/deviation/tweet description (written by the content creator) gets special formatting. */
@mixin caption($hover-color) {
    border-left: 4px solid $light-text-color;
    padding: $small-spacing;
    
    /* Need a larger padding so bulleted lists can clear the border. */
    padding-left: $large-spacing * 2;
    margin-top: $small-spacing;
    margin-bottom: $small-spacing;

    .caption-link {
        color: $light-text-color;

        &:hover {
            color: $hover-color;
        }
    }
}

@mixin post-left-border() {
    border-left: 4px solid $light-text-color;
    margin-bottom: $large-spacing;
}

/* Shared logic for post/deviation/tweet information (not related to stats). 
 * Ex. for displaying deviations, Tumblr posts, tweet images. */
@mixin media-content-image-positioning() {
    padding: $small-spacing/2;
    margin: 0;

    @include large-screen() {
        padding: $large-spacing;
        margin: 0 auto;
    }
}

@mixin media-content-image($max-width, $hover-color) {
    width: $max-width;
    border: 2px solid $light-text-color;
    padding: $large-spacing;

    &:hover {
        border: 2px solid $hover-color;
    }
}

@mixin media-content-data($max-width, $hover-color) {
    margin-top: $large-spacing;
    max-width: $max-width;

    h3 {
        &:hover {
            color: $hover-color;
        }
    }
}

/* Shared logic for post/deviation/tweet stats. */
@mixin post-stats($hover-color) {
    @include flex-row-center($justify-content: space-between);

    .author-link {
        &:hover {
            color: $hover-color;
        }
    }
}

@mixin engagement() {
    @include flex-row-center();
    margin-right: $small-spacing;
        
    img {
        width: $large-spacing;
        margin-right: $small-spacing;
    }
}

/* Shared styles for the top (header) and bottom (footer) stat sections. */
@mixin social-media-stats() {
    @include flex-row-center($justify-content: flex-start);

    img {
        width: $large-spacing;
        margin-right: $large-spacing;
    }
    
    .stats {
        @include flex-col();

        @include medium-phone() {
            @include flex-row-percent-width($width: 100%, $justify-content: flex-start);
        }
    }
}

/* What to show if there are no matching deviations, tweets, and posts. */
@mixin no-matches() {
    .no-matches {
        text-align: center;

        @include tablet() {
            max-width: $max-width;
        }

        @include desktop() {
            max-width: $max-wide-width;
        }
    }
}

@mixin engagement-cols($width: 20%) {
    width: 100%;

    @include medium-phone() {
        width: $width;
    }
}