/* You can add global styles to this file, and also import other style files */
@import './mixins.scss';
@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    @include full-background($url: './images/login.png', $position: bottom);

    margin: $large-spacing; 
    margin-left: $main-content-inset;

    &.full-width {
        margin: 0;
    }

    &::before {
        @include absolute-zero();
    
        content: '';
        opacity: 0.4;
    }
}
