/* You can add global styles to this file, and also import other style files */
@import './mixins.scss';
@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    color: $dark-text-color;
}

body {
    @include full-background($url: '/images/login.png', $position: bottom);

    margin: $large-spacing; 
    margin-left: $main-content-inset;

    &.full-width {
        margin: 0;
    }

    /* Applying opacity on body itself would render all contents translucent. */
    &::before {
        @include full-screen-fixed();
        background-color: $app-secondary;
        opacity: 0.05;
        content: '';
    }
}



