/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: $large-spacing; 
    margin-left: $main-content-inset;
}



