$app-primary: #222f3e;
$app-secondary: #6c5ce7;
$app-background: #f0dff6;
$app-tertiary: #c8d6e5;
$app-error: #d63031;

$app-primary-disabled: #b2bec3;

$app-dark-nav: $app-primary;
$app-light-nav: $app-tertiary;
$app-selected-nav: #c8d6e5;

$scroll-section-height: 700px;

$tumblr-bg: #2a4259;
$tumblr-medium: #41668b;
$tumblr-light: #74b9ff;
$tumblr-mutual: #55efc4;

$deviantart-bg: #181a1b;
$deviantart-medium: #3e4e42;
$deviantart-light: #4dc47d;
$deviantart-mutual: #05cc47;
$deviantart-icon-size: 50px;

$twitter-bg: #14171A;
$twitter-medium: #657786;
$twitter-light: #74b9ff;

$widget-border: $app-dark-nav;

$light-text-color: #fff;
$dark-text-color: #000;

$high: #e3191c;
$med-high: #fc4e29;
$med: #fd8d3c;
$low-med: #feb14c;
$low: #fed976;
$very-low: #ffffb3;
$none: #c8d6e5;

$small-spacing: 8px;
$icon-spacing: $small-spacing / 2;
$large-spacing: $small-spacing * 2;

$nav-bar-width: $small-spacing * 8;
$main-content-inset: $nav-bar-width + $large-spacing;
$button-dimensions: $small-spacing * 6;
$auth-button-dimensions: $button-dimensions * 2;
$search-bar-height: $small-spacing * 6;

$large-font: 18px;
$title-font: $large-font * 1.5;
$large-line-height: $large-font * 2;
$title-line-height: $large-line-height * 1.5;

$max-width: 700px;