$app-primary: #222f3e;
$app-secondary: #6c5ce7;
$app-tertiary: #c8d6e5;

$app-primary-disabled: #b2bec3;

$app-dark-nav: $app-primary;
$app-light-nav: $app-tertiary;
$app-selected-nav: #c8d6e5;

$tumblr-bg: #2a4259;
$tumblr-medium: #41668b;
$tumblr-light: #74b9ff;
$tumblr-mutual: #55efc4;

$twitter-bg: #74b9ff;
$deviantArt-bg: #00b894;
$widget-border: $app-dark-nav;

$light-text-color: #fff;

$small-spacing: 8px;
$icon-spacing: $small-spacing / 2;
$large-spacing: $small-spacing * 2;

$nav-bar-width: $small-spacing * 8;
$main-content-inset: $nav-bar-width + $large-spacing;
$button-dimensions: $small-spacing * 6;
$auth-button-dimensions: $button-dimensions * 2;
$search-bar-height: $small-spacing * 6;

$large-font: 18px;
$title-font: $large-font * 1.5;
$large-line-height: $large-font * 2;
$title-line-height: $large-line-height * 1.5;

$max-width: 700px;