$app-dark-nav: #222f3e;
$app-light-nav: #c8d6e5;
$app-selected-nav: #c8d6e5;

$tumblr-bg: #2a4259;
$tumblr-medium: #41668b;
$tumblr-light: #74b9ff;

$twitter-bg: #74b9ff;
$deviantArt-bg: #00b894;
$widget-border: $app-dark-nav;

$light-text-color: #fff;

$small-spacing: 8px;
$icon-spacing: $small-spacing / 2;
$large-spacing: $small-spacing * 2;

$nav-bar-width: $small-spacing * 8;
$main-content-inset: $nav-bar-width + $large-spacing;
$button-dimensions: $small-spacing * 6;
$search-bar-height: $small-spacing * 6;

$large-font: 18px;