@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

:host {
    @include flex-row();
    height: 100vh;
}

form {
    @include wide-and-center($width: 95%);

    .instructions {
        .login-header {
            @include large-aligned-text($title-font);
        }
    }

    .form-field {
        @include flex-row-percent-width();
        margin-bottom: $large-spacing;

        &.col {
            @include flex-col();

            .email-label, .password-label {
                @include flex-row-percent-width();
                margin-bottom: $small-spacing;
                align-items: center;
            }
        }

        label {
            font-weight: normal;
            text-align: left;
            width: 100%;

            &.warn-invalid {
                width: 100%;
                text-align: right;
                color: $app-error;
            }
        }

        input[type=text], input[type=password] {
            @include subtle-bordered-button();
            @include input-style();
        }

        button {
            @include large-rectangular-button();
        }
    }

    input[type=submit] {
        @include large-rectangular-button();
    }
}