<app-search
    placeholder="Name of Blog"
    (onUserSearch)="onBlogSearch($event)">
</app-search>
<section *ngIf="showTumblrWidget()" class="tumblr-follows">
    <div class="followers">
        <h2>Followers</h2>
        <div *ngIf="tumblrFollowers.length > 0" class="scrollable-list">
            <app-blog *ngFor="let follower of tumblrFollowerMap | keyvalue"
                mediaType="Tumblr"
                [isFollowing]="follower.value.following">
                <div media-type="tumblr">
                    <h3 (click)="visitTumblr(follower.value.url)">
                        {{ follower.key }}
                    </h3>
                    <p>Last Updated: {{ dateForTimestamp(follower.value.updated) | date: 'MM/dd/yyyy' }}</p>
                </div>
            </app-blog>
        </div>
    </div>
    <div class="following">
        <h2>Following</h2>
        <div *ngIf="tumblrFollowing.length > 0" class="scrollable-list">
            <app-blog *ngFor="let following of tumblrFollowingMap | keyvalue"
                [isFollowing]="true"
                mediaType="Tumblr">
                <div media-type="tumblr">
                    <h3 (click)="visitTumblr(following.value.url)">
                        {{ following.key }}
                    </h3>
                    <div *ngIf="followsYou(following.key)" class="follows-back">Follows you</div>
                </div>
            </app-blog>
        </div>  
    </div>
</section>
