@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.tumblr-follows {
    @include flex-row(space-around);

    background-color: $tumblr-bg;
    margin: $large-spacing;
    padding: $large-spacing;
    border: 3px solid $widget-border;

    & .followers, & .following {
        color: $light-text-color;
        width: 100%;

        h2 {
            text-align: center;
            padding-bottom: $large-spacing;
        }

        h3 {
            letter-spacing: 0.5px;

            &:hover {
                color: $tumblr-light;
                cursor: pointer;
            }
        }

        .scrollable-list {
            max-height: 450px;
            padding-right: $large-spacing;
            overflow-y: scroll;
        }
    }

    & .followers {
        margin-right: $large-spacing;
    }

    & .following {
        & .follows-back {
            color: $tumblr-mutual;
        }
    }
}