@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

:host {
    width: 100%;

    .deviant-art-follows {
        @include deviantart-container();
        @include flex-row(space-around);
    
        margin-bottom: $large-spacing;
    
        & .followers, & .following {
            color: $light-text-color;
            width: 100%;
        
            h2 {
                text-align: center;
                padding-bottom: $large-spacing;
            }
        
            h3 {
                letter-spacing: 0.5px;
        
                &:hover {
                    color: $deviantart-light;
                    cursor: pointer;
                }
            }
    
            .da-style {
                @include flex-row();
            }
    
            .watcher-icon {
                height: $deviantart-icon-size;
                padding-right: $small-spacing;
            }
    
            .follows-back {
                color: $deviantart-mutual;
            }
        
            .scrollable-list {
                max-height: $scroll-section-height;
                overflow-y: scroll;
            }
        }
    }
}


