<section *ngIf="this.watchers.length > 0" class="deviant-art-follows">
    <div class="followers">
        <h2>Watchers</h2>
        <div #scroll class="scrollable-list"
            (scroll)="onScroll($event)">
            <app-blog *ngFor="let watcher of watchersMap | keyvalue"
                [isFollowing]="watcher.value.is_watching"
                [mediaType]="mediaType"
                (onUserAction)="onUserAction($event, watcher.key)">
                <div media-type="deviantArt">
                    <div class="da-style">
                        <img class="watcher-icon"
                        [src]="watcher.value.user.usericon ? watcher.value.user.usericon : defaultAvatar"/>
                        <div>
                            <h3 (click)="blogUtils.visitBlog(getDAURL(watcher.key))">
                                {{ watcher.key }}
                            </h3>  
                            {{ watcher.value.user.type | deviant | titlecase }}
                        </div> 
                    </div>
                </div>
            </app-blog>
        </div>
    </div>
</section>