<div class="no-matches" *ngIf="deviations.length === 0">No matching deviations were found.</div>
<section *ngIf="deviations.length > 0">
    <div class="deviations-stats">
        <h3>DeviantArt</h3>
        <div class="stats-summary">
            <div class="favorites">
                <img [src]="heartImg"/> 
                <div class="stats">
                    <span>Hi {{ favoriteStats.high }}</span>
                    <span>Low {{ favoriteStats.low }}</span>
                    <span>Mid {{ favoriteStats.average | number:'1.2-2' }}</span>
                    <span>Avg {{ favoriteStats.median }}</span>
                </div>
            </div>
            <div class="comments">
                <img [src]="commentImg"/>
                <div class="stats">
                    <span>Hi {{ commentStats.high }}</span>
                    <span>Low {{ commentStats.low }}</span>
                    <span>Mid {{ commentStats.median }}</span>
                    <span>Avg {{ commentStats.average | number:'1.2-2' }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="deviations">
        <div class="deviation" *ngFor="let deviation of deviations">
            <img class="deviation-img" [src]="deviation.content.src"/>
            <div class="deviation-data">
                <h3 (click)="blogUtils.visitBlog(deviation.url)">{{ deviation.title }}</h3>
                 <div class="deviation-stats">
                    <div class="stats">
                        <div>
                            by <span class="author-link" 
                                (click)="blogUtils.visitDeviantArt(deviation.author.username)">
                                    {{ deviation.author.username }}
                                </span>
                        </div>
                        <p>{{ blogUtils.dateForTimestamp(deviation.published_time)  | date: 'short' }} </p>
                        <div class="engagement">
                            <div class="favorites">
                                <img [src]="heartImg"/> 
                                <span>{{ deviation.stats.favourites }}</span>
                            </div>
                            <div class="comments">
                                <img [src]="commentImg"/>
                                <span>{{ deviation.stats.comments }}</span>
                            </div>
                        </div>
                    </div>                   
                    <img class="user-icon" [src]="deviation.author.usericon"/>
                </div>
            </div>
        </div>
    </div> 
</section>