@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

:host {
    section {
        @include deviantart-theme();
        @include deviantart-container();
        @include flex-col($justify-content: center);

        .deviations {
            @include flex-col($justify-content: center);
            color: $light-text-color;
            max-height: $scroll-section-height;
            overflow-y: scroll;

            .deviation {
                padding: $large-spacing;
                margin: 0 auto;

                .deviation-img {
                    width: 250px;
                    border: 2px solid $light-text-color;
                    padding: $large-spacing;
                }

                .deviation-data {
                    margin-top: $small-spacing;

                    h3 {
                        &:hover {
                            color: $deviantart-light;
                        }
                    }

                    .deviation-stats {
                        @include flex-row($justify-content: space-between);
                        .engagement {
                            @include flex-row($justify-content: flex-start);
        
                            .favorites, .comments {
                                @include flex-row();
                                align-items: center;
                                margin-right: $small-spacing;
        
                                img {
                                    width: $large-spacing;
                                    margin-right: $small-spacing;
                                }
                            }
                        }
    
                        .user-icon {
                            max-height: 50px;
                        }
                    }
                }
            }  
        }
    }
}