@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

:host {
    section {
        @include deviantart-theme();
        @include deviantart-container();
        @include flex-col($justify-content: center);
        align-items: center;

        margin: 0 auto;
        margin-top: $large-spacing;
        padding: $large-spacing;

        img {
            height: 250px;
            border: 2px solid $light-text-color;
            padding: $large-spacing;
        }

        h3 {
            &:hover {
                color: $deviantart-light;
            }
        }
    }
}