@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

:host {
    @include flex-row();
    height: 100vh;
}

section {
    @include wide-and-center($width: 95%);

    .instructions {
        .login-header {
            @include large-aligned-text($title-font);
        }

        p {
            @include large-aligned-text($large-font, $font-weight: normal);
        }
    }

    .nav-section {
        @include flex-row();
        margin: $large-spacing;

        .nav-button {
            margin: $small-spacing;
            padding: $large-spacing;
            position: relative;
            background-color: transparent;
            color: $dark-text-color;

            /* Depends on auth status. */
            &.auth-success {
                @include subtle-bordered-button();
            }

            .auth-status {
                height: $auth-button-dimensions / 4;
                position: absolute;
                top: $small-spacing;
                left: $small-spacing;
            }
    
            &:hover {
                @include subtle-bordered-button();
            }
    
            button {
                background-color: transparent;
                height: $auth-button-dimensions;
        
                .sm-icon {
                    height: 100%;
                    padding: $small-spacing;
                }
            }

            .media-name {
                @include large-aligned-text($large-font);
            }
        }
    }

    .continue-button {
        @include large-rectangular-button();
    }
}