<section>
    <header class="instructions">
        <h1 class="login-header">Login</h1>
        <p>Sign into one or more the social media platform(s) below.</p>
    </header>
    <div class="nav-section">
        <button class="nav-button" 
            *ngFor="let media of mediaData | keyvalue"
            (click)="authUser(media.key)" 
            [ngClass]="getStylesForMediaButton(media.key)"
            [disabled]="auth.isAuthorizedForMedia(media.key)"
            [attr.alt]="'Authenticate with ' + media.value.alt">
            <button>
                <img class="sm-icon" [src]="getIconName(media.value.iconName)"/>
            </button>
            <div class="media-name">
                {{ media.key }}
            </div>
            <img class="auth-status" [src]="getIconForMediaButton(media.key)"/>
        </button>
    </div>
    <button 
        class="continue-button" 
        [disabled]="auth.isAuthorized() ? null : true"
        (click)="loginUser()">
        Continue
    </button>
</section>