<nav>
    <button *ngFor="let media of mediaData | keyvalue"
        [disabled]="mediaStatus[media.key] !== authSuccess">
        <app-nav-item 
            [disableNav]="mediaStatus[media.key] !== authSuccess"
            [iconName]="media.value.iconName" 
            [altText]="media.value.alt"
            [link]="media.value.link"
            [name]="media.value.name"></app-nav-item>
    </button>
</nav>
<nav>
    <button *ngFor="let action of navActions | keyvalue">
        <app-nav-item 
            [iconName]="action.value.iconName" 
            [altText]="action.value.alt"
            [link]="action.value.link"
            [name]="action.value.name"></app-nav-item>
    </button>
</nav>