<nav>
    <button *ngFor="let media of mediaData | keyvalue"
        [disabled]="mediaStatus[media.key] !== authSuccess">
        <app-nav-item 
            [disableNav]="mediaStatus[media.key] !== authSuccess"
            [iconName]="media.value.iconName" 
            [altText]="media.value.alt"
            [link]="media.value.link"
            [name]="media.value.name"></app-nav-item>
    </button>
</nav>
<nav>
    <button *ngFor="let action of navActions">
        <app-nav-item 
            [iconName]="action.iconName" 
            [altText]="action.alt"
            [link]="action.link"
            [name]="action.name"></app-nav-item>
    </button>
</nav>