@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

h3 {
    margin-bottom: $small-spacing;
}

.heat-map {
    @include flex-row(center);

    .x-legend {
        text-align: center;
    }

    .data-point {
        @include flex-row-center($justify-content: center);
        border: 1px solid $light-text-color;
        min-height: 44px; 
        min-width: 44px;

        &.none {
            color: $none;
        }

        &.very-low {
            color: $very-low;
        }

        &.low {
            color: $low;
        }
        
        &.low-mid {
            color: $low-med;
        }

        &.mid {
            color: $med
        }

        &.mid-high {
            color: $med-high;
        }

        &.high {
            color: $high;
        }
    }
}