<h3>{{ mapTitle }}</h3>
<section class="heat-map">
    <div *ngFor="let xAxis of mapAxes.secondAxis; let indexOfTime = index" class="col">
        <div class="x-legend">{{ xAxis-1 | shortTime }}</div>
        <div *ngFor="let yAxis of mapAxes.mainAxis; let indexOfDay = index" class="row">
            <div *ngIf="indexOfDay === 0 && indexOfTime === 0" class="y-legend"> {{ xLabel }}/{{ yLabel }} </div> 
            <div *ngIf="indexOfDay === 0 && indexOfTime !== 0" class="y-legend">{{ yAxis-1 | shortDay }}</div> 
            <div *ngIf="indexOfDay !== 0"
                [ngClass]="getDataStyle(getMapData(indexOfDay-1, indexOfTime-1, true))"
                class="data-point">
                {{ getMapData(indexOfDay-1, indexOfTime-1, true) }}
            </div>
        </div>
    </div>
</section>