@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

:host {
    @include flex-row();
    width: 100%;

    @include tablet() {
        max-width: $max-width;
    }

    @include desktop() {
        max-width: $max-wide-width;
    }
}

.tumblr-follows {
    @include tumblr-container();
    @include flex-col();

    @include large-screen() {
        @include flex-row(space-around);
    }

    width: 100%;

    & .followers, & .following {
        color: $light-text-color;
        width: 100%;
    
        h2 {
            text-align: center;
            padding-bottom: $large-spacing;
        }
    
        h3 {
            letter-spacing: 0.5px;
    
            &:hover {
                color: $tumblr-light;
                cursor: pointer;
            }
        }
    
        .scrollable-list {
            padding-right: $large-spacing;
            max-height: $scroll-section-height-small;
            overflow-y: scroll;

            @include large-screen() {
                max-height: $scroll-section-height;
            }
        }
    }
    
    & .followers {
        margin-right: $large-spacing;
        margin-bottom: $large-spacing;

        @include large-screen() {
            margin-bottom: 0;
        }
    }
    
    & .following {
        & .follows-back {
            color: $tumblr-mutual;
        }
    }
}
