@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

$font-size: 30px;

:host {
    @include flex-col($justify-content: center);
}

.home-button {
    :hover:not(.name), :hover:not(a) {
        background-color: $app-primary;
    }
}

button {
    @include home-tile();
    position: relative;

    background-color: transparent;
    border: 1px solid $app-primary;
    padding: $small-spacing/2;
    opacity: 0.8;

    :hover {
        font-weight: bold;
    }

    .name {
        position: absolute;
        z-index: 2;
        top: 45%;
        left: 0;
        bottom: 0;
        right: 0;

        font-size: $font-size;
    }

    a {
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.8;
        }
    }
}

button:not(:last-child) {
    margin-bottom: $large-spacing;
}