@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

button {
    @include home-tile();

    a {
        width: 100%;

        img {
            width: 100%;
            object-fit: cover;
        }
    }
}