@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

$font-size: 30px;

:host {
    @include flex-col($justify-content: center);
}

button {
    @include home-tile();
    max-height: 400px;
    position: relative;

    background-color: $app-secondary;
    opacity: 0.8;

    .name {
        position: absolute;
        z-index: 2;
        top: calc(50% - $font-size);
        left: 0;
        bottom: 0;
        right: 0;

        font-size: $font-size;
    }

    a {
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.8;
        }
    }
}

button:not(:last-child) {
    margin-bottom: $large-spacing;
}