@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

:host {
    @include tumblr-container();
    color: $light-text-color;

    .blogs {
        @include flex-col(space-between);

        margin-top: $small-spacing;
        margin-bottom: $small-spacing;
        padding: $small-spacing;
        border: 2px solid $light-text-color;
    
        .blog-url {
    
            &:hover {
                color: $tumblr-light;
                cursor: pointer;
            }
        }
    
        img {
            height: 80px;
        }
    }
}

