@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

:host {
    color: $light-text-color;

    .blogs {
        @include tumblr-container();
    
        .blog-url {
    
            &:hover {
                color: $tumblr-light;
                cursor: pointer;
            }
        }
    
        img {
            height: 80px;
        }
    }
}

