@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

:host {
    @include tumblr-container();
    @include flex-col($justify-content: space-around);
    color: $light-text-color;

    .blogs {
        @include flex-row($justify-content: space-between);
        @include tumblr-theme();

        margin-top: $small-spacing;
        margin-bottom: $small-spacing;
        padding: $small-spacing;
        border: 2px solid $light-text-color;

        .blog-url {
    
            &:hover {
                color: $tumblr-light;
                cursor: pointer;
            }
        }
    
        img {
            height: 80px;
        }
    }
}

