/* You can add global styles to this file, and also import other style files */
$app-dark-nav: #222f3e;
$app-light-nav: #c8d6e5;
$app-selected-nav: #c8d6e5;

$small-spacing: 8px;
$large-spacing: $small-spacing * 2;

$button-dimensions: $small-spacing * 6;
$search-bar-height: $small-spacing * 6;
$nav-bar-width: $small-spacing * 8;

$large-font: 18px;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@mixin flex-row($justify-content: center) {
    display: flex;
    justify-content: $justify-content;
}

@mixin flex-col($justify-content: flex-start) {
    display: flex;
    flex-direction: column;
    justify-content: $justify-content;
}


