<app-deviant
    *ngIf="deviant" 
    [deviant]="deviant">
</app-deviant>
<app-deviant-posts
    *ngIf="deviations.length > 0"
    [deviations]="deviations"
    [commentStats]="commentStatsDA"
    [favoriteStats]="faveStatsDA">
</app-deviant-posts>
<app-deviantart-follow
    [watchers]="watchers"
    [watchersMap]="watchersMap"
    [watching]="friends"
    [watchingMap]="friendsMap"
    (followBlog)="followDeviant($event)"
    (unfollowBlog)="unfollowDeviant($event)"
    (fetchNextWatchers)="getWatchers($event)"
    (fetchNextFriends)="getFriends($event)">
</app-deviantart-follow>
