@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

:host {
    @include flex-col();

    @include large-screen() {
        @include flex-row(space-between);
    }

    margin-top: $small-spacing;
    margin-bottom: $small-spacing;
    padding: $small-spacing;
    border: 2px solid $light-text-color;

    & .follow-button {
        color: $light-text-color;
        font-weight: bold;
        text-align: right;
    }

    &.tumblr-theme {
        @include tumblr-theme();

        & .follow-button {
            &:hover {
                color: $tumblr-light;
            }
        }
    }

    &.deviant-art-theme {
        @include deviantart-theme();

        & .follow-button {
            &:hover {
                color: $deviantart-light;
            }
        }
    }
}

